<div class="container" id="home-container">
  <div class="jumbotron text-center text-white">
    <h1 class="display-4">Alpha Blog</h1>
    <p class="lead">Join Alpha Blog and start writing your articles.</p>
    <hr class="my-4">
    <p>Alpha Blog is free. Sign Up now</p>
    <%= link_to "Sign up!", signup_path, class: "btn btn-success btn-lg" %>
  </div>
</div>
